table#groups {
    min-width: 80%;
}

.group-details {
    background-color: #eff3f7;
    display: inline-block;
    width: 100%;
    padding: 0.2em;
    border: 1px solid #aaa;
}

.group-details .members, .group-details .lists {
    float: left;
    width: 50%;
}
